/auto-save-list
/backups
/elpa
/games
/lisp
/predictive
/snippets
.emacs.desktop
.emacs.desktop.lock
emacs.el
SessionDesktop.el
*.DS_Store
emacs.org~
init.el~
.mc-lists.el*
\#*\#
abbrev_defs
ac-comphist.dat
async-bytecomp.log
ido.last
network-security.data
recentf
